/*RECOMMENDED PRODUCTS*/
.recommended-products {
    margin: 20px 0 40px;
    padding: 0;
}
.recommended-products-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #4285f4;
}
.recommended-products .product {
    width: 21%;
    padding: 0;
    margin: 0 2%;
    box-shadow: 0 5px 50px -5px rgba(0, 0, 0, .4);
    transition: .2s;
    float: left;
    filter: contrast(95%) brightness(95%);
}
.recommended-products .product:hover {
    box-shadow: 0 5px 50px -5px rgba(0, 0, 0, 0.5);
    filter: contrast(105%) brightness(105%);
}
/*Product image*/
.recommended-products div.img {
    height: 180px;
    overflow: hidden;
}
.recommended-products div.img img {
    min-width: 100%;
    min-height: 100%;
}
/*Product content*/
.recommended-products .product .product-content {
    display: inline-block;
    width: 100%;
    min-height: 165px;
    padding: 10px 0;
    background: rgb(84, 122, 183);
    transition: .2s;
}
.recommended-products .product .product-content p {
    color: #fff;
}
.recommended-products p.product-title a:link, .recommended-products p.product-title a:visited,
.recommended-products p.product-title a:hover, .recommended-products p.product-title a:active {
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.recommended-products div.price-and-count {
    bottom: 10px;
    position: absolute;
}
.recommended-products label, .recommended-products p.label-price {
    color: #f5f5f5;
    font-size: 14px;
    font-weight: normal;
    font-family: Arial, "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 5px;
}
.recommended-products .product .product-content p.price,
.recommended-products .product .product-content select {
    font-size: 21px;
}
.recommended-products .product .product-content p.standart-price {
    background-color: #fff;
    color: #3474ab;
    line-height: 34px;
    width: 100%;
    height: 34px;
}
.recommended-products .product .product-content div.buy {
    position: absolute;
    width: 100%;
    bottom: -30px;
}
.recommended-products .product .product-content div.buy a {
    font-size: 41px;
    border-radius: 50%;
    border: 0;
    width: 70px;
    height: 70px;
    background-color: #4c8fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    transition: .15s;
}
.recommended-products .product .product-content div.buy a:hover {
    background-color: #e18502;
}